<launch>

<!--Loading the parameters -->
<rosparam command="load" file="$(find espeleo_return)/config/parameters.yaml" />

<!--Run the node that saves the position -->
<node pkg = "espeleo_return" name = "return" type = "autonomous_return.py" args="" output="screen">
</node>

<!--Run the node that controls the robot with vector fields -->
<node pkg="espeleo_control" name="vector_field" type="vec_field_control.py" args="" output="screen">
<rosparam command="load" file="$(find espeleo_return)/config/control_params.yaml"/>
</node>

</launch>
